NEXT_PUBLIC_SITE_URL=https://othello-omega.vercel.app
NEXT_PUBLIC_CHAIN_ID=8453
NEXT_PUBLIC_BASE_APP_ID=
NEXT_PUBLIC_BUILDER_CODE=bc_528dhr28
NEXT_PUBLIC_CHECK_IN_CONTRACT_ADDRESS=0x238FE829DF3E80E463F57e2EBec585DB0dBF0986
